.user-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 245);
  }
  
  .user-body{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.captions{
    position: relative;
    left: 20px;
    top: 20px;
}

.dropdown{
  max-width: 256px;
  position: relative;
  left: 140px;
  bottom: 8px;
}

.t1{
  position: relative;
  left: 450px;
}

.t2{
  position: relative;
  left: 450px;
}

.custom-tooltip{
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255);
}