.user-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 245);
  }
  
  .user-body{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.captions{
    position: relative;
    left: 20px;
    top: 20px;
}

.dropdown{
  max-width: 256px;
  position: relative;
  left: 140px;
  bottom: 8px;
}
