.translate-btn-container{
    display: flex;
  }
  
  Button.translate-btn-fr{
    color: #FFF;
    font-weight: 700;
    padding: 0.9rem 1.0rem;
    background-color: rgba(30, 195, 30, 1.0);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
    right: 26rem;
    font-size: 15px;
    margin-left: 10px;
  }
  
  Button.translate-btn-fr:hover{
    text-decoration: none;
    background-color: rgba(30, 195, 30, 0.9);
  }